.dd-wrapper {
    display: flex;
    min-height: 25px;
    flex-wrap: wrap;
}

.dd-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
}

.dd-header.__title--bold{
    font-weight: bold;
}

.dd-list.button {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px 10px 30px 30px;
    border: 0;
    width: 100%;
    text-align: left;
}

.dd-list {
    padding: 20;
    margin: 0;
    width: 100%;
    margin-top: 1px;
  }